<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="PeriodsList" type="Tasks_Planner.Tools.PeriodicitiesConfig.PeriodsConfigSection, Tasks Planner"/>
	</configSections>
	
	<PeriodsList>
		<Periods>
			<Period periodString = "раз в 1 час" periodSeconds="3600" />
			<Period periodString = "раз в 2 часа" periodSeconds="7200" />
			<Period periodString = "раз в 4 часа" periodSeconds="14400" />
			<Period periodString = "раз в 8 часов" periodSeconds="28800" />
			<Period periodString = "раз в 12 часов" periodSeconds="43200" />
			<Period periodString = "раз в 24 часа" periodSeconds="86400" />
			<Period periodString = "раз в 3 дня" periodSeconds="259200" />
			<Period periodString = "раз в неделю" periodSeconds="604800" />
			<Period periodString = "раз в 24 дня" periodSeconds="2074000" />
		</Periods>
	</PeriodsList>
</configuration>